# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Vercel
.vercel/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js typescript build info
*.tsbuildinfo

# IDE settings
.idea/
.vscode/

# MacOS system files
.DS_Store

# Linux system files
*.swp
*.swo

# Windows system files
Thumbs.db
